.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: var(--font-family-sans2) !important;

  // body under navbar
  &__body {
    display: flex;
    flex: 1;
    // position: relative; // ensures stacking works
  }
  .sidebar {
    width: 16rem;
    flex-shrink: 0;
    background: #fff;
    // position: relative;
    z-index: 2;
    box-shadow: var(--shadow-lg);
  }

  &__content {
    flex: 1;
    background: var(--color-neutral-50);
    padding: var(--space-8);
    overflow-y: auto;
    background-color: var(--color-dashboard-bg);

    // position: relative;
    z-index: 1; // 👈 ensures it doesn’t overlap the shadow
  }
}
